body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
  }
  
  .container {
    width: 350px;
  }
  
  .title {
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
  }
  
  button {
    width: 373px;
    background-color: #000;
    color: #fff;
    padding: 10px;
  }
  
  button:hover {
    background-color: #333;
  }
  
  .create-account {
    text-align: center; /* Center-align the text */
    margin-top: 10px; /* Add some space between the button and the link */
  }
  
  .create-account a {
    color: #0073e6; /* Change the link color */
    text-decoration: none; /* Remove the default underline */
  }
  
  .create-account a:hover {
    text-decoration: underline; /* Add underline on hover */
  }

  .play-guest {
    text-align: center; /* Center-align the text */
    margin-top: 10px; /* Add some space between the button and the link */
  }
  
  .play-guest a {
    color: #419508; /* Change the link color */
    text-decoration: none; /* Remove the default underline */
  }
  
  .play-guest a:hover {
    text-decoration: underline; /* Add underline on hover */
  }